name: Build APK Final
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install flet yt-dlp
          # Force l'installation des outils de packaging
          pip install --upgrade flet

      - name: Build APK
        run: |
          # On demande à Flet de construire l'APK en mode détaillé
          flet build apk --verbose

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Mon-App-TikTok
          path: build/apk/*.apk
          
